/* 将标签的默认间距设置为0 */
body,p,h1,h2,h3,h4,h5,h6,ul,dl,dt,form,select,input{
	margin: 0;
	padding: 0;
}

/* 去掉默认的小圆点 */
ul{
	list-style: none;
}

/* 去掉下划线 */
a{
	text-decoration: none;
}

/* 设置不倾斜 */
em{
	font-style: normal;
}

/* 去掉在IE下图片作为链接时生成的边框 */
img{
	border: 0px;
}

/* 让h标签继承body的字体大小 */
h1,h2,h3,h4,h5,h6{
	font-size: 100%;
}

/* 清除浮动、解决margin-top塌陷 */
.clearfix:before,.clearfix:after{
	content: "";
	display: table;
}

.clearfix:after{
	clear: both;
}

.clearfix{
	zoom: 1;
}

/* 左浮动 */
.fl{
	float: left;
}

.fr{
	float: right;
}

