/* header */
.header_con{
	height: 29px;
	border-bottom: 1px solid #ddd;
	background-color: #f7f7f7;
}


.welcome{
	font: normal 12px/29px 'Microsoft Yahei';
	margin-left: 28px;
	color: #6d6d6d;
}

.user{
	margin-right: 28px;
}

.user_com li{
	float: left;
	height: 29px;
}

.user_com li a, .user_com li span{
	font: normal 12px/29px 'Microsoft Yahei';
	color: #686868;
}

.user_com li span{
	margin: 0 14px;
}



/* logo、搜索框、购物车 */
.center{
	width: 1200px;
	height: 114px;
	margin:0 auto;
}

.logo{
	margin: 26px 0 0 16px;
}


.search_bar{
	width: 618px;
	height: 38px;
	border: 1px solid #37ab40;
	margin: 34px 0 0 124px;
	background: url(../images/icons.png) no-repeat 9px 9px;
}


.input_text{
	width: 480px;
	height: 38px;
	margin-left: 38px;
	border: 0px;
	outline: none;
	font: normal 12px/38px 'Microsoft Yahei';
}

.input_btn{
	width: 100px;
	height: 38px;
	background-color: #37ab40;
	border: 0px;
	color: #fff;
	font: normal 14px/38px 'Microsoft Yahei';
	outline: none;
	cursor: pointer;
}


.cart{
	width: 198px;
	height: 38px;
	border: 1px solid #e0e0e0;
	margin-top: 34px;
	background: url(../images/icons.png) 12px -43px no-repeat;
}

.cart_name{
	margin-left: 56px;
	font: normal 14px/38px 'Microsoft Yahei';
	color: #37ab40;
}

.show_count{
	width: 40px;
	height: 38px;
	background-color: #ff8800;
	font: bold 18px/38px 'Microsoft Yahei';
	color: #fff;
	text-align: center;
}


/* 导航栏 */
.nav_con{
	height: 40px;
	border-bottom: 2px solid #39a93e;
}

.navbar{
	width: 1200px;
	margin: 0 auto;
}

.navbar h1{
	width: 200px;
	height: 40px;
	font: normal 14px/40px 'Microsoft Yahei';
	color: #fff;
	background-color: #39a93e;
	text-align: center;
}

.navlist{
	margin-left: 34px;
}

.navlist li{
	float: left;
	height: 40px;
}

.navlist li a{
	font: normal 14px/40px 'Microsoft Yahei';
	color: #666;
}

.navlist li span{
	font: normal 14px/40px 'Microsoft Yahei';
	color: #666;
	margin: 0 12px;
}


/* 商品分类 */
.category_con{
	width: 1200px;
	height: 270px;
	margin: 0 auto;
}

.goods_list{
	width: 198px;
	height: 270px;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.goods_list li{
	height: 44px;
	text-align: center;
	border-bottom: 1px solid #eee;
	
}

.goods_list li:nth-child(1){
	background: url(../images/icons.png) 32px -90px no-repeat;
}

.goods_list li:nth-child(2){
	background: url(../images/icons.png) 28px -140px no-repeat;
}

.goods_list li:nth-child(3){
	background: url(../images/icons.png) 30px -190px no-repeat;
}

.goods_list li:nth-child(4){
	background: url(../images/icons.png) 34px -240px no-repeat;
}

.goods_list li:nth-child(5){
	background: url(../images/icons.png) 32px -290px no-repeat;
}

.goods_list li:nth-child(6){
	background: url(../images/icons.png) 32px -340px no-repeat;
}

.goods_list li a{
	display: block;
	font: normal 14px/44px 'Microsoft Yahei';
	color: #333;
	background: url(../images/icons.png) 180px -385px no-repeat;
}

.slide_con{
	width: 760px;
	height: 270px;
	background: red;
	position: relative;
	overflow: hidden;
}

.slide_pic{
	position: absolute;
	width: 3040px;
	height: 270px;
	left: 0px;
	top: 0px;
}

.slide_pic li{
	float: left;
}

.pre{
	position: absolute;
	width: 17px;
	height: 23px;
	background: url(../images/icons.png) 0px -450px no-repeat;
	left: 11px;
	top: 122px;
	cursor: pointer;
}

.next{
	position: absolute;
	width: 17px;
	height: 23px;
	background: url(../images/icons.png) 0px -500px no-repeat;
	right: 11px;
	top: 122px;
	cursor: pointer;
}

.points{
	position: absolute;
	width: 100%;
	height: 11px;
	left: 0;
	bottom: 9px;
	text-align: center;
	font-size: 0px;
}

.points li{
	display: inline-block;
	width: 11px;
	height: 11px;
	margin: 0 5px;
	background-color: #666;
	border-radius: 5px;
	cursor: pointer;
}

.points li:nth-child(1){
	background-color: #cecece;
}

.goods_adver{
	width: 240px;
	height: 270px;
	background: gold;
}

/* 解决部分浏览器图片之间有3px间距bug */
.goods_adver{
	display: block;
}


/* 商品列表 */
.models_con{
	width: 100%;
	height: 356px;
}

.model_title{
	width: 1200px;
	height: 40px;
	margin: 15px auto 0;
	border-bottom: 2px solid #3fac43;
}

.model_title h3{
	height: 40px;
	font: bolder 16px/40px 'Microsoft Yahei';
	color: #35aa3e;
}

.sub_title ul{
	height: 32px;
	margin: 8px 0 0 20px;
}

.sub_title ul li{
	float: left;
	font: normal 12px/32px 'Microsoft Yahei';
	margin-right: 12px;
	color: #666;
}

.sub_title ul .line{
	margin-right: 20px;
}

.model_title .more{
	margin-top: 6px;
	font: normal 14px/34px 'Microsoft Yahei';
	color: #666;
}




.model_list{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
} 

.model_list li{
	float: left;
	width: 250px;
	height: 299px;
	border-right: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	text-align: center;
	box-sizing: border-box;
}

.model_list .brand{
	width: 200px;
	height: 299px;
}

.model_list li h4{
	display: inline-block;
	font: normal 14px/14px 'Microsoft Yahei';
	color: #666;
	margin-top: 24px;
}


.model_list li img{
	display: block;
	margin: 40px auto 0;
}

.model_list .brand img{
	margin-top: 0px;
}


.model_list li span{
	display: block;
	font: bold 16px/16px 'Microsoft Yahei';
	color: #c40000;
	margin-top: 12px;
}






















