/* header */
.header_con{
	height: 29px;
	border-bottom: 1px solid #ddd;
	background-color: #f7f7f7;
}


.header_con .welcome{
	font: normal 12px/29px 'Microsoft Yahei';
	margin-left: 28px;
	color: #6d6d6d;
}

.user{
	margin-right: 28px;
}

.user_com li{
	float: left;
	height: 29px;
}

.user_com li a, .user_com li span{
	font: normal 12px/29px 'Microsoft Yahei';
	color: #686868;
}

.user_com li span{
	margin: 0 14px;
}



/* logo、搜索框、购物车 */
.center{
	width: 1200px;
	height: 114px;
	margin:0 auto;
}

.center .logo{
	margin: 26px 0 0 16px;
}


.search_bar{
	width: 618px;
	height: 38px;
	border: 1px solid #37ab40;
	margin: 34px 0 0 124px;
	background: url(../images/icons.png) no-repeat 9px 9px;
}


.search_bar .input_text{
	width: 480px;
	height: 38px;
	margin-left: 38px;
	border: 0px;
	outline: none;
	font: normal 12px/38px 'Microsoft Yahei';
}

.search_bar .input_btn{
	width: 100px;
	height: 38px;
	background-color: #37ab40;
	border: 0px;
	color: #fff;
	font: normal 14px/38px 'Microsoft Yahei';
	outline: none;
	cursor: pointer;
}


.cart{
	width: 198px;
	height: 38px;
	border: 1px solid #e0e0e0;
	margin-top: 34px;
	background: url(../images/icons.png) 12px -43px no-repeat;
}

.cart .cart_name{
	margin-left: 56px;
	font: normal 14px/38px 'Microsoft Yahei';
	color: #37ab40;
}

.show_count{
	width: 40px;
	height: 38px;
	background-color: #ff8800;
	font: bold 18px/38px 'Microsoft Yahei';
	color: #fff;
	text-align: center;
}


/* 导航栏 */
.nav_con{
	height: 40px;
	border-bottom: 2px solid #39a93e;
}

.navbar{
	width: 1200px;
	margin: 0 auto;
}

.navbar h1{
	width: 200px;
	height: 40px;
	font: normal 14px/40px 'Microsoft Yahei';
	color: #fff;
	background-color: #39a93e;
	text-align: center;
}

.navlist{
	margin-left: 34px;
}

.navlist li{
	float: left;
	height: 40px;
}

.navlist li a{
	font: normal 14px/40px 'Microsoft Yahei';
	color: #666;
}

.navlist li span{
	font: normal 14px/40px 'Microsoft Yahei';
	color: #666;
	margin: 0 12px;
}


/* 商品分类 */
.category_con{
	width: 1200px;
	height: 270px;
	margin: 0 auto;
}

.category_con .goods_list{
	width: 198px;
	height: 270px;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.category_con .goods_list li{
	height: 44px;
	text-align: center;
	border-bottom: 1px solid #eee;
	
}

.category_con .goods_list li:nth-child(1){
	background: url(../images/icons.png) 32px -90px no-repeat;
}

.category_con .goods_list li:nth-child(2){
	background: url(../images/icons.png) 28px -140px no-repeat;
}

.category_con .goods_list li:nth-child(3){
	background: url(../images/icons.png) 30px -190px no-repeat;
}

.category_con .goods_list li:nth-child(4){
	background: url(../images/icons.png) 34px -240px no-repeat;
}

.category_con .goods_list li:nth-child(5){
	background: url(../images/icons.png) 32px -290px no-repeat;
}

.category_con .goods_list li:nth-child(6){
	background: url(../images/icons.png) 32px -340px no-repeat;
}

.category_con .goods_list li a{
	display: block;
	font: normal 14px/44px 'Microsoft Yahei';
	color: #333;
	background: url(../images/icons.png) 180px -385px no-repeat;
}

.category_con .goods_slide{
	width: 760px;
	height: 270px;
	background: red;
}

.category_con .goods_adver{
	width: 240px;
	height: 270px;
	background: gold;
}

























